:root {
    --clr-accent: #F7558C;
    --clr-gray: hsl(0, 0%, 60%);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #62B1F3;
    font-family: "Poppins", sans-serif;
}

.bar {
    display: flex;
    align-items: center;
    width: 610px;
    height: 65px;
    padding-inline: 45px;
    border-radius: 100vh;
    background-color: white;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2)
}

.crumbs {
    padding-left: 0;
    margin-left: 24px;
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 14px;
}

.icon {
    aspect-ratio: 1 / 1;
    height: 25px;
}

.crumb {
    cursor: pointer;
    transition: color 0.5s;
}

.crumb,
.crumb::before,
.crumb.active::before{
    color: var(--clr-gray);
}

.crumb.active,
.crumb:hover {
    color: var(--clr-accent);
}

.crumb.active {
    font-weight: 600;
}

.crumb + .crumb::before {
    font-family: 'Line Awesome Free';
    font-weight: 900;
    display: inline-block;
    content: '\f105';
    margin-inline: 14px;
}

.crumb.active::before {
    color: var(--clr-gray);
}